.itemDetailDiv{
    margin-top: 70px;
    margin-left: 45px;
    width: 30rem;
    background-color: rgb(242, 225, 243);
    box-shadow: 4px 6px 18px 5px rgba(172, 172, 172, 0.85);
    
}
.itemDetailDiv img{
    width: 50%;
    display: block;
    
}
.continueShopping{
    display: flex;
    justify-content: flex-end;
}